<div>
<img src='http://www-scf.usc.edu/~ghasemig/images/sharif.png' alt="SUT logo" width=220 height=220 align=left class="saturate">

<br>
<font face="Times New Roman">
<div dir=ltr align=center> 
<!-- <font color=0F5298 size=7> -->
<font color=0F5298 size=6>
    Introduction to Machine Learning <br> <br>
<!-- <font color=2565AE size=5> -->
<font size=5>
    Computer Engineering Department <br>
    Spring 2023 <br> <br>
<font color=606060 size=5>
    Homework 1: Practical - Linear Regression <br> <br>
<font color=686880 size=4>
    TAs: Arman Malekzadeh - Yalda Shabanzadeh - Arshia Soltani Moakhar
    
____

### Full Name : Reza Soumi
### Student Number : 98105857
___

In [4]:
# run this to download the dataset
!wget -O 'dataset.csv' https://www.dropbox.com/s/2ny75tb1ic141yw/assignment1.csv?dl=0

--2023-03-08 12:37:46--  https://www.dropbox.com/s/2ny75tb1ic141yw/assignment1.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.2.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.2.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/2ny75tb1ic141yw/assignment1.csv [following]
--2023-03-08 12:37:46--  https://www.dropbox.com/s/raw/2ny75tb1ic141yw/assignment1.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd7a6f61d9ff8bbb5964cc0181d.dl.dropboxusercontent.com/cd/0/inline/B33JWoQqIgFzY1ecnQi3MFTRH42PSYWis-MmqLOIEr0_13lVgI8M-zr48gu5OgAxx-aTZ_Bij_KkACMLQEXTbPf9UTSDrFpd1rw3FxQXcp5V11O7V33nSYv44mt1k4f378kouD1b1Mn-VXOkcijHi0M1t-Yjeroa_k-LqWTtHyyT4A/file# [following]
--2023-03-08 12:37:46--  https://ucd7a6f61d9ff8bbb5964cc0181d.dl.dropboxusercontent.com/cd/0/inline/B33JWoQqIgFzY1ecnQi3MFTRH42PSYWis-MmqLOIEr0_13lVgI8M-zr48gu5OgAxx-aTZ_Bij_KkACMLQEXTbPf9UTSDrFpd1rw3FxQXcp5V11O7V33nSYv44mt1k4f378kouD1b1Mn-VXOkcijHi0M1t-Yjeroa_k-LqWTtHyyT4A/file
Resolving ucd7a6f61d9ff8bbb5964cc0181d.dl.dropboxusercontent.com (ucd7a6f61d9ff8bbb5964cc0181d.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6031:15::a27d:510f
Connecting to ucd7a6f61d9ff8bbb5964cc0181d.dl.dropboxusercontent.com (ucd7a6f61d9ff8bbb5964cc0181d.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘dataset.csv’

dataset.csv         100%[===================>]  54.32K  --.-KB/s    in 0.01s

2023-03-08 12:37:47 (5.55 MB/s) - ‘dataset.csv’ saved [55628/55628]

In [3]:
# you can use the following libraries
import pandas as pd
import sklearn
import numpy as np
from joblib import dump, load
from matplotlib import pyplot as plt
import os

# Phase 1: Explore

## Sec 1: What do we have here?

load the dataset (as a dataframe) using pandas

In [5]:
df = pd.read_csv('dataset.csv')

display the top rows of the dataframe (top 5 is enough)

In [ ]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

print the names of the columns

In [ ]:
list(df.columns.values)

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

what values can the `region` column take? print the unique values using pandas

In [13]:
list(df["region"].unique())

['southwest', 'southeast', 'northwest', 'northeast']

get the number of rows in the dataset

In [ ]:
len(df.index)

1338

make a new column named `rounded_bmi` by rounding each value of the column `bmi` | keep the `bmi` column

In [15]:
df["rounded_bmi"] = df["bmi"].apply(lambda x: round(x))
df

,age,sex,bmi,children,smoker,region,charges,rounded_bmi
0,19,female,27.900,0,yes,southwest,16884.92400,28
1,18,male,33.770,1,no,southeast,1725.55230,34
2,28,male,33.000,3,no,southeast,4449.46200,33
3,33,male,22.705,0,no,northwest,21984.47061,23
4,32,male,28.880,0,no,northwest,3866.85520,29
...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,31
1334,18,female,31.920,0,no,northeast,2205.98080,32
1335,18,female,36.850,0,no,southeast,1629.83350,37
1336,21,female,25.800,0,no,southwest,2007.94500,26
1337,61,female,29.070,0,yes,northwest,29141.36030,29

## Sec 2: Perform EDA

perform EDA on the dataset (e.g., see if there are null values)

In [ ]:
df['age'].unique()

array([19, 18, 28, 33, 32, 31, 46, 37, 60, 25, 62, 23, 56, 27, 52, 30, 34,
       59, 63, 55, 22, 26, 35, 24, 41, 38, 36, 21, 48, 40, 58, 53, 43, 64,
       20, 61, 44, 57, 29, 45, 54, 49, 47, 51, 42, 50, 39])

In [ ]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
df['children'].unique()

array([0, 1, 3, 2, 5, 4])

In [ ]:
df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [ ]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

charges and bmi has a big number diversity so isnull() function of pandas will help us as shown below.

In [ ]:
df.isnull().sum()

age            0
sex            0
bmi            0
children       0
smoker         0
region         0
charges        0
rounded_bmi    0
dtype: int64

In [ ]:
missing_data = df.isnull()
for column in missing_data.columns.values.tolist(): 
   print(column)
   print(missing_data[column].value_counts())
   print("")

age
False    1338
Name: age, dtype: int64

sex
False    1338
Name: sex, dtype: int64

bmi
False    1338
Name: bmi, dtype: int64

children
False    1338
Name: children, dtype: int64

smoker
False    1338
Name: smoker, dtype: int64

region
False    1338
Name: region, dtype: int64

charges
False    1338
Name: charges, dtype: int64

rounded_bmi
False    1338
Name: rounded_bmi, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1338 non-null   int64
 1   sex          1338 non-null   object
 2   bmi          1338 non-null   float64
 3   children     1338 non-null   int64
 4   smoker       1338 non-null   object
 5   region       1338 non-null   object
 6   charges      1338 non-null   float64
 7   rounded_bmi  1338 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 83.8+ KB

In [ ]:
df.shape

(1338, 8)

In [ ]:
df.ndim

2

In [ ]:
df.describe()

               age          bmi     children       charges  rounded_bmi
count  1338.000000  1338.000000  1338.000000   1338.000000  1338.000000
mean     39.207025    30.663397     1.094918  13270.422265    30.663677
std      14.049960     6.098187     1.205493  12110.011237     6.096007
min      18.000000    15.960000     0.000000   1121.873900    16.000000
25%      27.000000    26.296250     0.000000   4740.287150    26.000000
50%      39.000000    30.400000     1.000000   9382.033000    30.000000
75%      51.000000    34.693750     2.000000  16639.912515    35.000000
max      64.000000    53.130000     5.000000  63770.428010    53.000000

In [ ]:
df.sample()

     age   sex   bmi  children smoker     region   charges  rounded_bmi
865   40  male  29.9         2     no  southwest  6600.361           30

In [ ]:
df.nunique()

age              47
sex               2
bmi             548
children          6
smoker            2
region            4
charges        1337
rounded_bmi      36
dtype: int64

In [ ]:
df.index

RangeIndex(start=0, stop=1338, step=1)

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges',
       'rounded_bmi'],
      dtype='object')

In [ ]:
df.memory_usage()

Index            128
age            10704
sex            10704
bmi            10704
children       10704
smoker         10704
region         10704
charges        10704
rounded_bmi    10704
dtype: int64

In [ ]:
df.isna().sum()

age            0
sex            0
bmi            0
children       0
smoker         0
region         0
charges        0
rounded_bmi    0
dtype: int64

In [ ]:
df.dropna(inplace=True)
df.shape

(1338, 8)

In [ ]:
df.nlargest(5, 'bmi')

      age     sex    bmi  children smoker     region     charges  rounded_bmi
1317   18    male  53.13         0     no  southeast   1163.4627           53
1047   22    male  52.58         1    yes  southeast  44501.3982           53
847    23    male  50.38         1     no  southeast   2438.0552           50
116    58    male  49.06         0     no  southeast  11381.3254           49
286    46  female  48.07         2     no  northeast   9432.9253           48

In [ ]:
df.duplicated().to_frame("duplicated").sum()

duplicated    1
dtype: int64

In [ ]:
droped_duplicate_df = df.drop_duplicates()
droped_duplicate_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [ ]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [ ]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [ ]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

reference: https://www.analyticsvidhya.com/blog/2021/04/20-must-known-pandas-function-for-exploratory-data-analysis-eda/

## Sec 3: Do linear relationships exist?

plot `age` against `charges` | **hint**: you can use matplotlibs

In [ ]:
age = []
charges = []
for i in range(200):
    df_age = df.loc[df['age']==i]
    if len(df)>0:
        age.append(i)
        charges.append(df_age['charges'].mean())
plt.plot(age, charges)
plt.title("age on charges")
plt.show()

print the correlation coefficients matrix

In [ ]:
df.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

# Phase 2: Preprocessing

## Sec 1: Handling Categorical Variables

using one-hot encoding, convert the `region` variable to some numerical variables (the result should be a dataframe)

In [16]:
categorical_region_df = pd.get_dummies(df, prefix='region', columns=['region'])
categorical_region_df

,age,sex,bmi,children,smoker,charges,rounded_bmi,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,yes,16884.92400,28,0,0,0,1
1,18,male,33.770,1,no,1725.55230,34,0,0,1,0
2,28,male,33.000,3,no,4449.46200,33,0,0,1,0
3,33,male,22.705,0,no,21984.47061,23,0,1,0,0
4,32,male,28.880,0,no,3866.85520,29,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,10600.54830,31,0,1,0,0
1334,18,female,31.920,0,no,2205.98080,32,1,0,0,0
1335,18,female,36.850,0,no,1629.83350,37,0,0,1,0
1336,21,female,25.800,0,no,2007.94500,26,0,0,0,1
1337,61,female,29.070,0,yes,29141.36030,29,0,1,0,0

do the same thing for the `smoker` variable (the result should be a dataframe)

In [17]:
categorical_smoker_df = pd.get_dummies(df, prefix='smoker', columns=['smoker'])
categorical_smoker_df

,age,sex,bmi,children,region,charges,rounded_bmi,smoker_no,smoker_yes
0,19,female,27.900,0,southwest,16884.92400,28,0,1
1,18,male,33.770,1,southeast,1725.55230,34,1,0
2,28,male,33.000,3,southeast,4449.46200,33,1,0
3,33,male,22.705,0,northwest,21984.47061,23,1,0
4,32,male,28.880,0,northwest,3866.85520,29,1,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,northwest,10600.54830,31,1,0
1334,18,female,31.920,0,northeast,2205.98080,32,1,0
1335,18,female,36.850,0,southeast,1629.83350,37,1,0
1336,21,female,25.800,0,southwest,2007.94500,26,1,0
1337,61,female,29.070,0,northwest,29141.36030,29,0,1

do the same thing for the `sex` variable (the result should be a dataframe)

In [18]:
categorical_sex_df = pd.get_dummies(df, prefix='sex', columns=['sex'])
categorical_sex_df

,age,bmi,children,smoker,region,charges,rounded_bmi,sex_female,sex_male
0,19,27.900,0,yes,southwest,16884.92400,28,1,0
1,18,33.770,1,no,southeast,1725.55230,34,0,1
2,28,33.000,3,no,southeast,4449.46200,33,0,1
3,33,22.705,0,no,northwest,21984.47061,23,0,1
4,32,28.880,0,no,northwest,3866.85520,29,0,1
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,no,northwest,10600.54830,31,0,1
1334,18,31.920,0,no,northeast,2205.98080,32,1,0
1335,18,36.850,0,no,southeast,1629.83350,37,1,0
1336,21,25.800,0,no,southwest,2007.94500,26,1,0
1337,61,29.070,0,yes,northwest,29141.36030,29,1,0

concatenate these new dataframes with the initial one using pandas

In [307]:
# first way
dataset = df.merge(categorical_sex_df, how='right').merge(categorical_smoker_df, how='right').merge(categorical_region_df, how='right')
dataset = dataset.drop(columns=["smoker", "sex", "region"])

# twice way
dataset = df.join(pd.get_dummies(df['smoker'], prefix='smoker')).join(pd.get_dummies(df['region'], prefix='region')).join(pd.get_dummies(df['sex'], prefix='sex')).drop(columns=['sex', 'smoker', 'region'])
dataset

,age,bmi,children,charges,rounded_bmi,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male
0,19,27.900,0,16884.92400,28,0,1,0,0,0,1,1,0
1,18,33.770,1,1725.55230,34,1,0,0,0,1,0,0,1
2,28,33.000,3,4449.46200,33,1,0,0,0,1,0,0,1
3,33,22.705,0,21984.47061,23,1,0,0,1,0,0,0,1
4,32,28.880,0,3866.85520,29,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,31,1,0,0,1,0,0,0,1
1334,18,31.920,0,2205.98080,32,1,0,1,0,0,0,1,0
1335,18,36.850,0,1629.83350,37,1,0,0,0,1,0,1,0
1336,21,25.800,0,2007.94500,26,1,0,0,0,0,1,1,0
1337,61,29.070,0,29141.36030,29,0,1,0,1,0,0,1,0

## Sec 2: Normalization

normalize the columns `age`, `bmi`, and `children` | after this, they should take values between 0 and 1

In [308]:
dataset['age'] = dataset['age'].apply(lambda x: (x-dataset['age'].min())/(dataset['age'].max()-dataset['age'].min()))
dataset['bmi'] = dataset['bmi'].apply(lambda x: (x-dataset['bmi'].min())/(dataset['bmi'].max()-dataset['bmi'].min()))
dataset['children'] = dataset['children'].apply(lambda x: (x-dataset['children'].min())/(dataset['children'].max()-dataset['children'].min()))
dataset

,age,bmi,children,charges,rounded_bmi,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male
0,0.021739,0.321227,0.0,16884.92400,28,0,1,0,0,0,1,1,0
1,0.000000,0.479150,0.2,1725.55230,34,1,0,0,0,1,0,0,1
2,0.217391,0.458434,0.6,4449.46200,33,1,0,0,0,1,0,0,1
3,0.326087,0.181464,0.0,21984.47061,23,1,0,0,1,0,0,0,1
4,0.304348,0.347592,0.0,3866.85520,29,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,0.695652,0.403820,0.6,10600.54830,31,1,0,0,1,0,0,0,1
1334,0.000000,0.429379,0.0,2205.98080,32,1,0,1,0,0,0,1,0
1335,0.000000,0.562012,0.0,1629.83350,37,1,0,0,0,1,0,1,0
1336,0.065217,0.264730,0.0,2007.94500,26,1,0,0,0,0,1,1,0
1337,0.934783,0.352704,0.0,29141.36030,29,0,1,0,1,0,0,1,0

# Phase 3: Training

## Sec 1: Making X and Y

make a new dataframe by removing the following columns: "rounded_bmi", "charges" 
| note: do not remove the previous dataframe

In [309]:
new_df = dataset.drop(columns=['rounded_bmi', 'charges'])
new_df

,age,bmi,children,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male
0,0.021739,0.321227,0.0,0,1,0,0,0,1,1,0
1,0.000000,0.479150,0.2,1,0,0,0,1,0,0,1
2,0.217391,0.458434,0.6,1,0,0,0,1,0,0,1
3,0.326087,0.181464,0.0,1,0,0,1,0,0,0,1
4,0.304348,0.347592,0.0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1333,0.695652,0.403820,0.6,1,0,0,1,0,0,0,1
1334,0.000000,0.429379,0.0,1,0,1,0,0,0,1,0
1335,0.000000,0.562012,0.0,1,0,0,0,1,0,1,0
1336,0.065217,0.264730,0.0,1,0,0,0,0,1,1,0
1337,0.934783,0.352704,0.0,0,1,0,1,0,0,1,0

convert the new dataframe into a numpy array named "x"

In [310]:
dataset_numpy_array = new_df.to_numpy()
dataset_numpy_array

array([[0.02173913, 0.3212268 , 0.        , ..., 1.        , 1.        ,
        0.        ],
       [0.        , 0.47914985, 0.2       , ..., 0.        , 0.        ,
        1.        ],
       [0.2173913 , 0.45843422, 0.6       , ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.        , 0.56201238, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.06521739, 0.26472962, 0.        , ..., 1.        , 1.        ,
        0.        ],
       [0.93478261, 0.35270379, 0.        , ..., 0.        , 1.        ,
        0.        ]])

get the "charges" column from the previous dataframe and convert it to another numpy array named "y"

In [311]:
target_numpy_array = dataset['charges'].to_numpy()
target_numpy_array

array([16884.924 ,  1725.5523,  4449.462 , ...,  1629.8335,  2007.945 ,
       29141.3603])

## Sec 2: Splitting the Data

divide the dataset into two portions in a way that 90% of the data belongs to the "training" set (called `x_train`, `y_train`) and the remaining belongs to the "testing" set (called `x_test`, `y_test`)

In [312]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(dataset_numpy_array, target_numpy_array, test_size=0.1)
x_train

array([[0.08695652, 0.50686037, 0.6       , ..., 1.        , 0.        ,
        1.        ],
       [0.65217391, 0.26607479, 0.6       , ..., 0.        , 1.        ,
        0.        ],
       [0.17391304, 0.49071832, 0.4       , ..., 1.        , 1.        ,
        0.        ],
       ...,
       [0.41304348, 0.18146355, 0.6       , ..., 0.        , 0.        ,
        1.        ],
       [0.47826087, 0.54425612, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.76086957, 0.55528652, 0.6       , ..., 1.        , 0.        ,
        1.        ]])

## Sec 3 (Optional): Linear Regression from Scratch

Complete this section with your code.

**hint**: 
- use pseudo inverse if matrix is not invertible.
- you can use `np.linalg`.

**note**:
- do **Phase 3:Sec 4** and **Phase 4:all sections** with this model also, then compare your results.

In [313]:
class myLinearRegression:
    """
    Fits it on data, then use predict to get results.
    """

    def __init__(self):
        self.weights = None
        self.bias = None
    
    def fit(self, X, y):
        """Fit the training data
        Parameters
        ----------
        x : array-like, shape = [n_samples, n_features]
            Training samples
        y : array-like, shape = [n_samples, n_target_values]
            Target values
        Returns
        -------
        self : object
        """

        n_samples, n_features = X.shape
        
        # x_mean, y_mean = np.mean(X, axis=0), y.mean()
        # covariance = [0] * n_features
        # variance = 0
        # for idx, x in enumerate(X): 
        #   covariance += (x-x_mean) * (y[idx]-y_mean)
        #   variance += (x-x_mean) **2
        # self.weights = covariance / variance
        # self.bias = y_mean - np.dot(self.weights, x_mean) 

        # self.weights = [0.] * n_features
        # self.bias = 0
        # self.lr = 0.001
        # self.n_iter = 10000
        # for _ in range(self.n_iter):
        #   y_pred = np.dot(X, self.weights) + self.bias
        #   dw = (1 / n_samples) * np.dot(X.T, (y_pred - y))
        #   db = (1 / n_samples) * np.sum(y_pred - y)
        #   self.weights -= self.lr * dw
        #   self.bias -= self.lr * db
        
        # ANSWER BASED ON LINEAR ALGEBRA CALCULATIONS: ((X^T X)^-1)^T (X^T Y)
        bias = np.ones((n_samples, 1))
        X_new = np.hstack((bias, X))
        beta = np.matmul(np.linalg.inv(np.matmul(X_new.T, X_new)), np.matmul(X_new.T, y))
        
        self.bias = beta[0]
        self.weights = beta[1:]
        
        return self
    
    def predict(self, X):
        """ Predicts the value after the model has been trained.
        Parameters
        ----------
        x : array-like, shape = [n_samples, n_features]
            Test samples
        Returns
        -------
        Predicted value
        """
        
        y_pred = None
        
        y_pred = np.dot(X, self.weights) + self.bias

        return y_pred

## Sec 4: The real deal!

fit a linear regressor to the data. (Use both regressors - sklearn & from scratch - if you did previous part)

In [314]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)
myreg = myLinearRegression().fit(x_train, y_train)

get the coefficients of the variables

In [315]:
print(reg.coef_)
print(myreg.weights)

[ 1.17161738e+04  1.28158149e+04  2.31341187e+03 -6.86277678e+14
 -6.86277678e+14 -1.58429777e+16 -1.58429777e+16 -1.58429777e+16
 -1.58429777e+16 -6.91522419e+15 -6.91522419e+15]
[  9501.06655278  23712.82151681   -137.70070875  65536.
  65536.         -49152.              0.         -49152.
 -32768.              0.          -8192.        ]

get the bias value associated with the model

In [316]:
print(reg.intercept_)
print(myreg.bias)

2.3444479564255996e+16
163840.0

## Sec 5: Save/Load the model

Save

In [324]:
filename = "model.joblib"

dump(reg, filename)

['model.joblib']

Load

In [325]:
loaded_model = load(filename)

# Phase 4: Evaluation

predict the value of "y" for each "x" belonging to the "testing" set

In [318]:
y_predicted = loaded_model.predict(x_test)
myreg_y_predicted = myreg.predict(x_test)
print(y_predicted)
print(myreg_y_predicted)

[28229.12174683 29855.49523727 32850.20004249 31344.6080174
 26566.57001421 24062.71650006 36073.14390888 25775.343612
 34938.76984138 27699.66451192 19441.79455309  9908.35993617
 21852.27087022  1160.29252274 24577.60495047 30596.07392594
  9131.77912301 36745.68792218 16940.43962803 20020.6765308
 10290.54133997 14175.73217002 23238.2020716  22683.88443001
 31316.54132113 21622.56075691 26821.58044617 18665.11529413
 23582.89191984 18536.59473649 31105.84399141 22828.42548266
 10431.57817341 17729.61346827 35030.44470982 18260.54789771
 19874.26414738  1391.77452689 11156.38417237 17597.74575177
 33632.04066184 12512.73789688  2957.50050148 18340.51759505
 14300.84302717 37311.65327086 31506.27649094 34114.63147191
 35285.42775361 37530.33182898   658.2176329  27723.49783467
 22091.50611553  6947.75152339 38106.74891658 20624.30947394
 25071.94946615 35741.25315616 16132.48135968 27340.08670005
 22365.84487137 36843.06001342 11233.80656728  1424.32250321
 34867.3358429  29886.58296906   193.07987316 22282.76832856
 36326.99077956 35832.18262163 16711.76411557  9323.94994761
 11897.97995609 34985.33957425 18616.18691124 19164.10437079
 13984.37179653 23954.57473716 24409.02638307 11464.25079095
 25989.09572502 23075.9064875  25813.43905858 21784.94467226
 20630.55539964 38725.68318605  4339.28666061 25917.82083882
 11255.52508117 11646.84694626 13791.2264324  18213.50005756
 24836.95481192 31929.85813742 34351.26340043 14470.43558744
 21862.95405398 13800.39960737  7044.07686812  -849.64673843
 14053.11848353 25485.5386632  12012.56698948 11690.55881255
 34704.52798763 14755.6466265  33632.97752653 14429.46613439
 13715.28863372 18880.68837203 19870.93875955 12355.26210922
 21645.36057944 31490.60364538 27037.38960476 13170.03027178
  8209.87091743 28904.148802   29819.93462738 16025.3416966
 27953.9578184  -1462.25931928  1021.25940642 -1006.62504656
 31220.50610977 16745.14404476 35562.36189375 35054.98839797
 27415.62386321 16891.59291308  7010.16599772 15829.75134233
 25115.02108213 23976.17945032]
[241824.91901458 196306.10373656 240329.85413003 240264.39668613
 208645.08608287 215354.89930585 244488.67961086 234750.04144036
 235192.19833708 203294.3353845  210305.98168142 197801.33771411
 182634.21441066 183300.54610086 206229.83888476 242447.26666493
 191574.55467455 246621.03387836 205980.38027472 202114.21538429
 192984.20376636 205069.69451956 193368.11840762 196016.34586638
 206751.4894956  202815.58005754 234320.17544676 201193.92379353
 185632.16682329 186098.98158819 201410.13792807 196098.13904614
 186172.56079788 183541.15547812 247619.32775243 198198.42398155
 209115.19643867 180031.96722682 197938.55180648 201695.45636904
 233581.24278966 176657.18041423 179180.28636274 180467.89658441
 195932.75579533 239241.63692667 232719.57160306 244687.94708856
 249176.26375147 239942.04043006 182609.1546772  228092.28892923
 201360.39344937 193602.86029875 248563.51958578 193724.44904933
 197801.09451254 249603.60415078 191656.17007213 202506.81016535
 210415.21543766 237916.64723802 191391.27361441 188042.14978984
 247214.57608479 197600.77712661 184783.01257627 204140.12933856
 246703.94136299 237506.37004156 204634.09638458 186134.93055511
 197662.67604873 237777.00732986 184246.56396133 202852.49233202
 196750.10333572 196136.61339411 187702.42384767 189244.64210504
 192127.76245222 211138.06424966 207177.78746871 193778.37853115
 211336.16385274 249395.61165272 189931.98102955 235887.97522258
 190584.55624012 198494.4810563  187094.78524983 185182.72409545
 227269.30872052 233744.63194312 236741.47005089 205643.85484684
 212702.90773551 198414.28644684 182579.35054385 183860.34873946
 192367.9303069  214424.61504161 199120.02819818 200476.41190129
 236157.32676207 178445.90958866 244197.86212051 178496.82921077
 191422.9647978  186270.34887114 183411.27240285 188199.70590846
 203471.85712076 231129.85699281 229461.88196248 193156.06604943
 191624.3964886  241706.13320572 240584.20189122 197858.61870752
 203216.19917684 172825.40108904 175321.00339262 175607.74292714
 233422.78776011 203378.05069074 244353.89133427 242244.12579844
 193608.75456976 208714.75856744 182449.12683947 182259.25091839
 213042.20932024 186946.09574235]

compute the mean squared error

In [319]:
sklearn.metrics.mean_squared_error(y_test, y_predicted)

261274399.70799232

In [320]:
sklearn.metrics.mean_squared_error(y_train, loaded_model.predict(x_train))

258003910.63400897

In [321]:
sklearn.metrics.mean_squared_error(y_test, myreg_y_predicted)

38406482730.85262

In [322]:
sklearn.metrics.mean_squared_error(y_train, myreg.predict(x_train))

37513362770.47167

return the coefficient of determination of the prediction

In [326]:
loaded_model.score(x_test, y_test)

0.6171227214992285

In [327]:
loaded_model.score(x_train, y_train)

0.7622556537624241

predict the value of "y" only for the last entry of the "testing" set

In [328]:
y_test[-1]

12142.5786

In [329]:
loaded_model.predict(np.array([x_test[-1]]))

array([10716.])

# Phase 5 (Optional): Submit your predictions to our Kaggle competition

Competition Link: https://www.kaggle.com/t/77b2fa437095401088e51c73956556ff<br>
You'll have to make a csv file containing two columns: `ID` and `charges`, and submit the file.<br>

In [368]:
df = pd.read_csv('assignment1-test-data.csv')
dataset = df.join(pd.get_dummies(df['smoker'], prefix='smoker')).join(pd.get_dummies(df['region'], prefix='region')).join(pd.get_dummies(df['sex'], prefix='sex')).drop(columns=['sex', 'smoker', 'region'])
dataset['age'] = dataset['age'].apply(lambda x: (x-dataset['age'].min())/(dataset['age'].max()-dataset['age'].min()))
dataset['bmi'] = dataset['bmi'].apply(lambda x: (x-dataset['bmi'].min())/(dataset['bmi'].max()-dataset['bmi'].min()))
dataset['children'] = dataset['children'].apply(lambda x: (x-dataset['children'].min())/(dataset['children'].max()-dataset['children'].min()))
dataset = dataset.drop(columns=["ID"])
dataset_numpy_array = dataset.to_numpy()
dataset_numpy_array
competitionResult = pd.DataFrame(loaded_model.predict(dataset_numpy_array), columns=['charges'])
competitionResult.to_csv('result.csv')

In [ ]:
https://www.kaggle.com/competitions/sharif-ml-1401-c1/submissions